<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>ICChange</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->
	<require_modules>
		<require_module version="1.0.0">org.openmrs.module.openhmis.inventory</require_module>
	</require_modules>
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.PharmacyActivator</activator>
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	
	<!-- Adds a menu item -->
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.PharmacyMenu</class>
	</extension>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>		
		PharmacyOrder.hbm.xml
		DrugOrderStatus.hbm.xml
	</mappingFiles>


	<!-- Data remote access -->
	
	<dwr>
		<allow>
		<!-- Useless Garbage Imports 
			<convert converter="bean" match="${project.parent.groupId}.${project.parent.artifactId}.web.DWRBaseOpenmrsData" javascript="DWRBaseOpenmrsData"/>
			<convert converter="bean" match="${project.parent.groupId}.${project.parent.artifactId}.web.DWROrder" javascript="DWROrder" />
			<convert converter="bean" match="${project.parent.groupId}.${project.parent.artifactId}.web.DWRDrugOrder" javascript="DWRDrugOrder" />
			<convert converter="bean" match="${project.parent.groupId}.${project.parent.artifactId}.web.dwr.DWRPharmacyItem"/>
			<convert converter="bean" match="${project.parent.groupId}.${project.parent.artifactId}.web.DWRPharmacyOrder" javascript="DWRPharmacyOrder" />
			<convert converter="bean" match="${project.parent.groupId}.${project.parent.artifactId}.web.DWRDrugOrderHeader" javascript="DWRDrugOrderHeader" />
		
			<convert converter="bean" match="${project.parent.groupId}.${project.parent.artifactId}.web.dwr.DWRItem"/>
		-->
			<convert converter="bean" match="${project.parent.groupId}.${project.parent.artifactId}.web.dwr.DWRPharmacyOrder"/>
			<convert converter="bean" match="${project.parent.groupId}.${project.parent.artifactId}.web.dwr.DWRDrugOrderStatus"/>
			
			<create creator="new" javascript="DWRPharmacyOrderService">
				<param name="class" value="${project.parent.groupId}.${project.parent.artifactId}.web.dwr.DWRPharmacyOrderService"/>
				<include method="getPharmacyOrdersByDrugOrderId"/>
				<include method="savePharmacyOrder" />
				<include method="createPharmacyOrder" />
				<include method="getItemsByDrugId" />
			</create>
			
				
			<create creator="new" javascript="DWRDrugOrderStatusService">
				<param name="class" value="${project.parent.groupId}.${project.parent.artifactId}.web.dwr.DWRDrugOrderStatusService" />
				<include method="getDrugOrderStatusByDrugOrderId"/>
				<include method="getDrugOrderStatusByPatient" />
				<include method="getDrugOrderStatusByPatient" />
			</create>
		</allow>
		<signatures>
			<![CDATA[
				import java.util.Date;
				import java.util.List;
				import java.util.Map;	
				import ${project.parent.groupId}.${project.parent.artifactId}.web.DWRPharmacyOrder;		
				import ${project.parent.groupId}.${project.parent.artifactId}.web.DWRDrugOrderStatus;
				import ${project.parent.groupId}.${project.parent.artifactId}.web.DWRItem;
				import ${project.parent.groupId}.${project.parent.artifactId}.web.dwr.DWRPharmacyOrderService;
				import ${project.parent.groupId}.${project.parent.artifactId}.web.dwr.DWRDrugOrderStatusService;
			
				DWRDrugOrderStatusService.getDrugOrderStatusByDrugOrderId(Integer id);
				DWRDrugOrderStatusService.getDrugOrderStatusByPatient (Integer patientId, Date from);
				DWRDrugOrderStatusService.getDrugOrderStatusByPatient (Integer patientId);
				DWRPharmacyOrderService.getPharmacyOrdersByDrugOrderId(Integer drugId);
				DWRPharmacyOrderService.savePharmacyOrder(DWRPharmacyOrder order);
				DWRPharmacyOrderService.createPharmacyOrder(Integer drugId);
				DWRPharmacyOrderService.getItemsByDrugId(Integer drugId);
			]]>
		</signatures>	
		<!--  Useless Garbage Imports
		
				import ${project.parent.groupId}.${project.parent.artifactId}.web.DWRBaseOpenmrsData;
				import ${project.parent.groupId}.${project.parent.artifactId}.web.DWROrder;
				import ${project.parent.groupId}.${project.parent.artifactId}.web.DWRDrugOrder;	
				 -->
	</dwr>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->


	<privilege>
		<name>Add Prescriptions</name>
		<description>Able to add prescriptions.</description>
	</privilege>
	<privilege>
		<name>Edit Prescriptions</name>
		<description>Able to edit prescriptions.</description>
	</privilege>
	<privilege>
		<name>Delete Prescriptions</name>
		<description>Able to delete prescriptions.</description>
	</privilege>

	<globalProperty>
		<property>icchange.pharmacy.drugs.units</property>
		<defaultValue>kg,grams,mg,liters,tablets,capsules,bottles,other</defaultValue>
		<description>
			Default units used in case there is no compatible inventory module installed. 
			Should be specified as json object as {conceptNames=[], conceptsIds=[], literalNames=[]}.
		</description>
	</globalProperty>
	<globalProperty>
		<property>icchange.pharmacy.config</property>
		<defaultValue>
					{ 	"defaultOrdersAgeSearch":	6, 
						"inventoryConnector":		"org.openmrs.module.icchange.pharmacy.inventory.DefaultDrugConnector"};
		</defaultValue>
		<description>
			Pharmacy module configuration. Should be specified as a json {"property":value}
		</description>
	</globalProperty>

</module>